.container{
width:45vw;
height:25vw;	
padding:2vw;
border:2px solid black;
margin: auto;
margin-top:10vw;
overflow:auto;
}

#todoTextBox{
width:100%;}

ul{
 list-style-type:none;
 padding:0;
}


.addlabel{
	text-decoration:line-through;
	color:#eee;
}
.removelabel
{
	text-decoration:none;
	
	color:"black";
}